/* main.css */
/* CSS for main page */
/* Engineered by heckerio */


/* ---------- NEWSLETTER ---------- */

.newsletter {
    background: black;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

/* ---------- NEWSLETTER END ---------- */


/* ---------- CONTAINER ---------- */

.container {
    /* background: black;  */
    /* color: white; */
    margin-top: 100px;
    margin-bottom: 50px;
    /* padding: 100px; */
    text-align: center;
}

/* ---------- CONTAINER END ---------- */
